.inputContainer{
  
    display: flex;
    flex-direction: column;
    gap: .5rem;
    // .passInput{
    //     padding: 16px 24px;
    //     border-radius: 8px;
    //     border: 1px solid var(--bf-gray-hover);
    // }
    .spanError{
        color: var(--bf-red);
    }
    .divInput{
        
        border-radius: 8px;
        border: 1px solid var(--bf-gray-hover);
        display: flex;
        input{
            padding: 16px 24px;
            border-radius: 8px;
            flex: 1;
            border: none;
            width: 100%;
        }
        .toggleEye{
            flex: .1;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
}

@media(max-width: 757px){
    .inputContainer{
        .divInput{
            gap: 1rem;
            .toggleEye{
                padding: 0px 16px;
            }
        }
    }
}