.container{
    margin: 0 auto;
    width: 80%;
    h1{
        text-align: center;
    }
    .formContainer{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 80%;
        margin: 0 auto;

        .submitButton{
            cursor: pointer;
            padding: 16px 24px;
            background: var(--button-background);
            color: var(--white);
            transition: .2s;
            border: none;
            border-radius: 4px;
            &:hover{
                background: var(--button-background-hover);
            }
        }
    }
    .error{
        text-align: center;
        color: var(--bf-red);
        font-size: 14px;
    }
}
