.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .inputContainer{
       display: flex;
       gap: 1rem;
       input{
        padding: 16px 24px;
        width: 300px;
        border-radius: 8px;
        border: .5px solid;
        display: flex;
        align-items: center;
       }
       button{
        padding: 16px 24px;
        border: none;
        cursor: pointer;
        border-radius: 8px;
        background: #ececec;
        transition: .2s;
        &:hover{
            background: #dfdfdf;
        }
       }
       .isPaid{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 150px;
       }
    }
    .paginationContainer{
        list-style: none;
        display: flex;
        gap: .3rem;
        .paginationItem{
            .paginationButton{
                padding: 10px 15px;
                background: var(--button-background);
                border-radius: 4px;
                color: white;
                border: none;
                cursor: pointer;
                transition: .2s;
                &:hover{
                    background: var(--button-background-hover);
                }
            }
            .paginationButtonActive{
                padding: 10px 15px;
                background: var(--bf-yellow);
                border-radius: 4px;
                color: white;
                border: none;
                cursor: pointer;
                transition: .2s;
                &:hover{
                    background: var(--bf-yellow-hover);
                }
            }
        }
    }
    .userList{
        .userListContainer{
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .userContainer{
                padding: 16px 24px;
                display: flex;
                background: var(--bf-gray);
                border-radius: 8px;
                flex-direction: column;
                .userSimpleContainer{
                    display: flex;
                    flex: 1;
                    justify-content: space-between;
                    align-items: center;
                    
                    gap: 1rem;
                    background: var(--bf-gray);
                }
                .showButton{
                    padding: 16px 24px;
                    cursor: pointer;
                    border-radius: 8px;
                    border: none;
                    background: var(--button-background);
                    color: white;
                    transition: .2s;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    &:hover{
                        background: var(--button-background-hover);
                    }
                }
                .spanContainer{
                    display: flex;
                    flex-direction: column;
                    .name{
                        font-weight: 600;
                    }
                    .cpf{
                        font-size: .9rem;
                    }
                }
            }
        }
        .statusActive{
            color: #00a21e;
            font-weight: 600;
        }
        .statusInactive{
            color: var(--bf-red);
            font-weight: 600;
        }

        
    }
    .showInformationContainer{
        .infoDiv{
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: space-between;
            .copyButton{
                margin-left: 10px;
                padding: 5px 10px;
                cursor: pointer;
                border: none;
                background: var(--button-background);
                color: white;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .3rem;
            }
        }
    }
}